

<div class="about">
  <div class="nav"></div>
  <div class="avi">
    <img src="img/avi.jpeg">
  </div>
  <div class="bio">
    <h1>Kendall Weihe</h1>
    <h2>Software Engineer &amp; official "one's and zero's" guy</h2>
    <h4>
      Hey there, Kendall here. I'm a software engineer. It's what I do for a living.
      I'm currently accepting new projects, so reach out, send me an email kendallweihe@gmail.com
    </h4>
  </div>
  <div class="services">
    <div class="services-left">
      <h2>Here are some things I'm talented at...</h2>
      <ul class="services-list"></ul>
    </div>
    <div class="services-right">
      <h2>
        Pretty much anything software-related. I'm young, I'm eager, and I have a passion for software solutions.
      </h2>
      <h3>
        I believe in building really impressive, insanely awesome products.
        I don't settle for half-assed attempts. The product comes first.
      </h3>
    </div>
  </div>
</div>
