

<div class="about">

  <div class="contain">

    <div class="block-half">
      <!-- TODO: make square w/ js? -->
      <img class="avi inner-block" src="img/avi.jpeg">
    </div>

    <div class="block-half">
      <div class="bio inner-block">
        <div class="title"><h1>Kendall Weihe</h1></div>
        <div class="subtitle"><h3>Software engineer &amp; official "one's and zero's guy"</h3></div>
        <div class="body1">
          <p>
            Hey there, Kendall here. I'm a software engineer. It's what I do for a living.
            I'm currently accepting new projects, so reach out, send me an email kendallweihe@gmail.com
          </p>
        </div>
      </div>
    </div>

    <div class="block-full">
      <div class="services">
        <div class="skills">
          <div class="title">Here are some things I'm talented at...</div>
          <ul class="skills"></ul>
        </div>

        <div class="body2">
          <h4>
            Pretty much anything software-related. I'm young, I'm eager, and I have a passion for software solutions.
          </h4>
          <br><br>
          <h4>
            I believe in building really impressive, insanely awesome products.
            I don't settle for half-assed attempts. The product comes first.
          </h4>
        </div>
      </div>
    </div>

  </div>

</div>
