<div class="connect">
  <div class="connect-grid">
    <div class="contact">
      <b style="font-size: 4vh;">Get in touch:</b>
      <br><br>
      <p style="font-size: 1.5vh;">
        Have a project in mind? Want to discuss something awesome?
        Send me an email, or connect with me via LinkedIn!
      </p>
      <br>
      <a href="mailto:kendallweihe@gmail.com"
          style="font-size: 1.5vh; color: #859b98;">
        Email: kendallweihe@gmail.com
      </a>
      <br>
      <a href="https://www.linkedin.com/in/kendall-weihe-5b963a64/"
          style="font-size: 1.5vh; color: #859b98;">
        LinkedIn
      </a>
    </div>

    <div class="portfolio-memo">
      <b style="font-size: 4vh;">Want to see some things I've done?</b>
      <br><br>
      <p style="font-size: 1.25vh;">
        I'm currently working on a Portfolio page, but in the mean time,
        check out my GitHub. Some of my best work is private, so reach
        out and we can discuss details!
      </p>
      <br>
      <a href="https://github.com/KendallWeihe"
          style="font-size: 1.25vh; color: #859b98;">
          GitHub (username: KendallWeihe)
      </a>
    </div>

    <div class="footer">Page developed by myself primarily with: HTML | CSS | JS | NodeJS</div>
  </div>
</div>
