<div class="landing">
  <div class="nav-container">
    <div class="home-btn">HOME BTN</div>
    <div class-"nav-space"></div>
    <div class="nav">NAV ITEMS</div>
  </div>

  <div class="name">KENDALL WEIHE</div>
  <div class="title-container">
    <div class="title">SOFTWARE ENGINEER</div>
    <div class="subtitle">OFFICIAL "ONE'S AND ZERO'S GUY"</div>
  </div>
</div>
