<div class="landing">
  <div class="name">KENDALL WEIHE</div>
  <div class="title-container">
    <div class="title">SOFTWARE ENGINEER</div>
    <div class="subtitle">OFFICIAL "ONE'S AND ZERO'S GUY"</div>
  </div>
</div>
