<div class="p1">

  <div class="report">
    <div class="desktop">
      <img class="qf-desktop" src="img/qf_desktop.png">
    </div>
    <div class="phone">
      <img class="qf-phone" src="img/qf_phone.png">
    </div>
    <div class="objectives">
      <div class="objectives-memo">
        <p class="objectives-memo-inner">
          The objectives for this project were...
        </p>
      </div>
      <ul class="objectives-list">
        <li>obj1</li>
        <li>obj2</li>
        <li>obj3</li>
        <li>...</li>
      </ul>
    </div>
    <div class="journey"></div>
  </div>

  <script>
    fit_font("objectives-memo", "objectives-memo-inner", 0.30);
    fit_font("body", "body-inner", 0.30);
  </script>

</div>
