<div class="p1">

  <div class="report p1-report">
    <div class="qf-logo">
      <img class="logo-img" src="/img/QF.png" style="object-fit: cover; height: 100%; width: 100%">
    </div>
    <div class="qf-title"><p class="qf-title-inner" style="font-size: 10px;">Quinn Foster's Reflection</p></div>
    <a class="qf-link" href="https://quinnfostersreflection.com/" target="_blank"><p class="qf-link-inner" style="word-wrap:break-word; font-size: 30px;">https://quinnfostersreflection.com/</p></a>

    <div class="qf-title-2"><p class="qf-title-2-inner" style="font-size: 10px;">The main objectives:</p></div>
    <div class="qf-objectives"><p class="qf-objectives-inner" style="font-size: 10px;">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p></div>

    <div class="qf-title-3"><p class="qf-title-3-inner" style="font-size: 10px;">The journey:</p></div>
    <div class="qf-journey"><p class="qf-journey-inner" style="font-size: 10px;">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p></div>

    <div class="qf-title-4"><p class="qf-title-4-inner" style="font-size: 10px;">The outcome...</p></div>
    <div class="qf-desktop">
      <img class="qf-desktop" src="img/qf_desktop.png"
            style="object-fit: contain; height: 100%; width: 100%; margin: auto;">
    </div>
    <div class="qf-phone">
      <img class="qf-phone" src="img/qf_phone.png"
            style="object-fit: contain; height: 100%; width: 100%;">
    </div>

  </div>

  <script>
    fit_font("qf-title", "qf-title-inner")
    fit_font("qf-link", "qf-link-inner")
    fit_font("qf-title-2", "qf-title-2-inner")
    fit_font("qf-objectives", "qf-objectives-inner")
    fit_font("qf-title-3", "qf-title-3-inner")
    fit_font("qf-journey", "qf-journey-inner")
    fit_font("qf-title-4", "qf-title-4-inner")
  </script>

</div>
