<div class="p1">

  <div class="report p1-report">
    <div class="qf-title"><p>Quinn Foster's Reflection</p></div>
    <div class="qf-link"><a href="https://quinnfostersreflection.com/">https://quinnfostersreflection.com/</a></div>

    <div class="qf-title-2"><p>The main objectives:</p></div>
    <div class="qf-objectives"><p>...</p></div>

    <div class="qf-title-3"><p>The journey:</p></div>
    <div class="qf-journey"><p>...</p></div>

    <div class="qf-title-4"><p>The outcome...</p></div>
    <div class="desktop">
      <!-- <img class="qf-desktop" src="img/qf_desktop.png"> -->
    </div>
    <div class="phone">
      <!-- <img class="qf-phone" src="img/qf_phone.png"> -->
    </div>


    <!-- <div class="desktop">
      <img class="qf-desktop" src="img/qf_desktop.png">
    </div>
    <div class="phone">
      <img class="qf-phone" src="img/qf_phone.png">
    </div>
    <div class="objectives">
      <div class="objectives-memo">
        <p class="objectives-memo-inner">
          The objectives for this project were...
        </p>
      </div>
      <ul class="objectives-list">
        <li>obj1</li>
        <li>obj2</li>
        <li>obj3</li>
        <li>...</li>
      </ul>
    </div>
    <div class="journey"></div> -->


  </div>

  <script>
    // fit_font("objectives-memo", "objectives-memo-inner");
    // fit_font("body", "body-inner", 0.30);
  </script>

</div>
