<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script type="text/javascript" src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/portfolio/portfolio.css">
  </head>
  <body>

    <% if (device_type == 0) { %>
      <link rel="stylesheet" type="text/css" href="css/portfolio/desktop.css">
    <% } else { %>
      <link rel="stylesheet" type="text/css" href="css/portfolio/phone.css">
    <% } %>

    <div class="container">
      <% include ../partials/portfolio/intro %>
      <% include ../partials/portfolio/p1 %>
      <% include ../partials/portfolio/p2 %>
      <% include ../partials/portfolio/p3 %>
      <% include ../partials/portfolio/misc %>
    </div>

  </body>
</html>
