<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script type="text/javascript" src="js/mainv2.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mainv2.css">
  </head>
  <body>

    <div id="dpi" style="height: 1in; width: 1in; left: 100%; position: fixed; top: 100%;"></div>

    <div class="nav-container">
      <div class="home-btn">HOME BTN</div>
      <div class-"nav-space"></div>
      <div class="nav">NAV ITEMS</div>
    </div>
    
    <% include ../partials/landing %>
    <% include ../partials/personal %>
    <% include ../partials/connect %>

    <!-- <script type="text/javascript">style();</script> -->

  </body>
</html>
