
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

.personal {
  height: 60vh;
  top: calc(100vh);
}

.connect {
  height: 40vh;
  top: calc(160vh);
}

/*---------------------------------------*/

.name {
  font-size: 6vh;
}

.title {
  font-size: 6vh;
}

.subtitle {
  font-size: 3vh;
  transform: translate(-50%, 100%)
}

/*---------------------------------------*/

.personal-grid {
  grid-template-columns: 40% 60%;
}

.avi {
  grid-column: 1 / 2;
}

.bio-text {
  display: flex;
  flex-direction: column;
}

.greeting {
  grid-column: 2 / 3;
  flex: 1;
  padding-top: 5%;
  padding-left: 20%;
  font-size: xx-large;
}

.about-me {
  grid-column: 2 / 3;
  flex: 3;
  padding-left: 20%;
}

/*---------------------------------------*/

.get-in-touch {
  font-size: 4vh;
}

.connect-body {
  font-size: 2vh;
}

.mail-to {
  font-size: 2vh;
  color: #859b98;
}

.linked-in {
  font-size: 2vh;
  color: #859b98;
}

.portfolio-title {
  font-size: 4vh;
}

.portfolio-body {
  font-size: 1.75vh;
}

.github {
  font-size: 1.75vh;
  color: #859b98;
}
