

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #092834;
}


.about {
  width: 90%;
  height: 100vh;
  background: #67AFCB;
  margin: auto;
}

.portfolio {
  width: 90%;
  height: 100vh;
  background: #347B98;
  margin: auto;
}

.contact {
  width: 90%;
  height: 100vh;
  background: #1A3E4C;
  margin: auto;
}

.avi {
  border-radius: 40%;
  top: calc(10%);
  left: calc(10%);
  position: absolute;
  object-fit: cover;
  width: calc(30%);
  height: calc(30%);
}

.title-wrap {
  position: absolute;
  top: calc(10%);
  left: calc(50%);
  height: calc(30%);
  width: calc(40%);
  text-align: center;
}

.title {
  position: relative;
  top: calc(10%);
}

.subtitle {
  position: relative;
  top: calc(50%);
}
