
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200vh;
  background: black;
}

/*---------------------------------------*/

.about {
  position: absolute;
  width: 95%;
  height: 95vh;
  background: #BEC6C7;
  margin: auto;
  top: calc(2.5%);
  left: calc(2.5%);
}

.portfolio {
  width: 95%;
  height: 95vh;
  background: #BEC6C7;
  margin: auto;
  position: absolute;
  top: calc(102.5vh);
  left: calc(2.5%);
}

/*---------------------------------------*/

.contain {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

.block-half {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  display: inline-block;
}

.block-full {
  float: left;
  width: 100%;
  height: 50%;
  position: relative;
}

.inner-block {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  box-sizing: border-box;
}

.avi {
  object-fit: contain;
  border-radius: 50%;
}

.bio {
  text-align: center;
}

div.skills {
  position: relative;
  width: 50%;
  height: 100%;
  display: inline-block;
}

.body2 {
  position: relative;
  width: 50%;
  height: 100%;
  display: inline-block;
}
