
.personal {
  height: 80vh;
  top: calc(100vh);
}

.connect {
  height: 60vh;
  top: calc(180vh);
}

/*---------------------------------------*/

.name {
  font-size: 3.3vh;
}

.title {
  font-size: 4vh;
}

.subtitle {
  font-size: 1.5vh;
  transform: translate(-50%, 250%)
}

/*---------------------------------------*/

.personal-grid {
  grid-template-rows: 50% 50%;
}

.avi {
  grid-row: 1 / 2;
}

.bio-text {
  display: flex;
  flex-direction: column;
}

.greeting {
  grid-row: 2 / 3;
  flex: 1;
  padding-left: 10%;
  padding-top: 5%;
  font-size: 4vh;
}

.about-me {
  grid-row: 2 / 3;
  flex: 3;
  padding-left: 10%;
  font-size: 1.5vh;
}

/*---------------------------------------*/

.get-in-touch {
  font-size: 4vh;
}

.connect-body {
  font-size: 2vh;
}

.mail-to {
  font-size: 2vh;
  color: #859b98;
}

.linked-in {
  font-size: 2vh;
  color: #859b98;
}

.portfolio-title {
  font-size: 4vh;
}

.portfolio-body {
  font-size: 1.75vh;
}

.github {
  font-size: 1.75vh;
  color: #859b98;
}
