
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 470vh;
  background-color: #6C7B7D;
}

.container {
  position: absolute;
  width: 95vw;
  height: 465vh;
  top: 2.5%;
  left: 2.5%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20vh 50vh 100vh 100vh 100vh 100vh;
}




.intro {
  grid-row: 1 / 3;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20vh 50vh;
}

.title {
  grid-row: 1 / 2;
  font-family: "adriane", Georgia, serif;
  text-align: center;
}

.body {
  grid-row: 2 / 3;
  font-family: "adriane", Georgia, serif;
  text-align: left;
  margin: 5% 15% 5% 15%;
}

/* SHARED -------------------------------------------- */

.report {
  margin: 2cm -2cm -2cm 2cm;
  width: calc(100% - 4cm);
  height: calc(100% - 4cm);

  /*display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 50% 50%;*/
}

/* P1 -------------------------------------------- */

.p1 {
  grid-row: 3 / 4;
}

.p1-report {
  display: grid;
  grid-template-columns: 10% 25% 40% 25%;
  grid-template-rows: 20% 30% 50%;
  background-color: #213133;
}

/* P2 -------------------------------------------- */

.p2 {
  grid-row: 4 / 5;
}

.p2-report {
  background-color: #272B38;
}

/* P3 -------------------------------------------- */

.p3 {
  grid-row: 5 / 6;
}

.p3-report {
  background-color: #4B674E;
}

/* MISC -------------------------------------------- */

.misc {
  grid-row: 6 / 7;
}
