
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 470vh;
  background-color: #F5F5DC;
}

.container {
  position: absolute;
  width: 95vw;
  height: 465vh;
  top: 2.5%;
  left: 2.5%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20vh 50vh 100vh 100vh 100vh 100vh;

  background-color: : blue;
}




.intro {
  grid-row: 1 / 3;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20vh 50vh;
}

.title {
  grid-row: 1 / 2;
  font-family: "adriane", Georgia, serif;
  text-align: center;
}

.body {
  grid-row: 2 / 3;
  font-family: "adriane", Georgia, serif;
  text-align: left;
  margin: 5% 15% 5% 15%;
}

.p1 {
  grid-row: 3 / 4;

  background-color: white;
}

.report {
  margin: 0.5cm -0.5cm -0.5cm 0.5cm;
  width: calc(100% - 1cm);
  height: calc(100% - 1cm);

  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 50% 50%;
}

.desktop {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.qf-desktop {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.qf-phone {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.phone {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.objectives {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
}

.objectives-memo {
  grid-row: 1 / 2;
}

.objectives-list {
  grid-row: 2 / 3;
}

.journey {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.p2 {
  grid-row: 4 / 5;

  background-color: green;
}

.p3 {
  grid-row: 5 / 6;

  background-color: cyan;
}

.misc {
  grid-row: 6 / 7;

  background-color: yellow;
}
