<div class="personal">
  <div class="personal-grid">
    <div class="avi"></div>
    <div class="greeting">
      <b>Hi there, Kendall here.</b>
    </div>
    <div class="about-me">
      I'm a software engineer. It's what I do for a living.
      Working with software is like getting to solve puzzles for a living.
      Aside from software, I enjoy these things: hiking, skiing, and road trips //
      coffee, beer, and eggs // UK basketball, the horse track, and topical humor.
      I'm currently accepting new projects, so reach out to me @ kendallweihe@gmail.com
    </div>
  </div>
</div>
